@import "tailwindcss";

/* Global styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
}

body {
   font-family: 'Arial', sans-serif;
   background: #fff;
   color: #000;
   overflow-x: hidden;
   overscroll-behavior-y: contain;
}

.no-scroll {
   overflow: hidden !important;
}

@media (max-width: 768px) {
   .header {
      z-index: 100 !important;
   }

   .three-container {
      z-index: 50;
   }
}